---
layout: default
title: Home
---

<div id="about">
    <h2> <a href="#about">About</a> </h2>
    <p>
        Hello! I am Sandip Das and thanks for checking out my little space on the web. 
        My recent focus has been on solutioning simple solutions to complex problems using distributed computing 
        technology disruptions and applying proven architectural patterns. I am particularly interested in working on 
        data intensive applications that demand scalability.
    </p>
    
    <p>
        In addition, I enjoy sharing my passion with others through organizing Hackathons at my organization.
    </p>
</div>

<div id="projects">
    <h2> <a href="#projects">Projects</a> </h2>
    {% for project in site.data.projects %}
    <div class="project">
      <div id="{{ project.name }}">
          <h3>
            <a href="#{{ project.name }}">{{ project.name }}</a>
          </h3>
      </div>
        <span class="project-metadata">
            {% if project.date %}
                <span class="metadata-item">
                    Made in {{ project.date }}
                </span>
            {% endif %}
            {% if project.blog %}
                <span class="metadata-item">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <a href="{{ project.blog }}">Blog Post</a>
                </span>
            {% endif %}
            {% if project.website %}
                <span class="metadata-item">
                    <i class="fa fa-link" aria-hidden="true"></i>
                    <a href="{{ project.website }}">Website</a>
                </span>
            {% endif %}
            {% if project.github %}
                <span class="metadata-item">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <a href="{{ project.github }}">GitHub</a>
                </span>
            {% endif %}
        </span>

      {% if project.image %}
        {% if project.imglink == "github" %}
            <a href="{{ project.github }}">
        {% elsif project.imglink == "website" %}
            <a href="{{ project.website }}">
        {% elsif project.imglink == "blog" %}
            <a href="{{ project.blog }}">
        {% else %}
            <a href="/assets/img/projects/{{ project.image }}">
        {% endif %}
                <img src="/assets/img/projects/{{ project.image }}">
            </a>
      {% endif %}
      <p>
        {{ project.description }}     
      </p>
    </div>
    {% endfor %}
</div>
